body {
  font-family: "Poppins", sans-serif;
  background: #f7f9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 450px;
  text-align: center;
}

h2 {
  color: #ff5722;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.screenshot {
  margin-top: 20px;
}

.screenshot img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
}
